html{ 
  background-color: rgb(233, 230, 230);
}

table {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 5px;
  border-collapse: collapse;
  color: rgb(209, 160, 95);
}

th, td{
  padding: 1rem;
  text-align: center;
  background-color: rgb(99, 50, 32);
  border: 0.2rem solid rgb(53, 29, 2);
  font-size: 1rem
  color: rgb(209, 160, 95);
}

.button{
  background-color: rgb(99, 50, 32);
  border-color: rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}

.button-police{
  background-color: rgb(99, 50, 32);
  border-color: rgb(53, 29, 2);
  font-size: 150%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(209, 160, 95);
}

.police{
  font-size: 150%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img{
  width: 18rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 600px){
.titre{
  margin-inline: 33%;
  font-size: 210%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:   rgb(53, 29, 2);
  padding-inline: 11%;
  border: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95); 
}
}

@media screen and (min-width: 600px){
.nbpoulets{
  margin-inline: 33%;
  font-size: 170%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:  rgb(99, 50, 32);
  padding-inline: 8%;
  border-top: 0.2rem solid rgb(53, 29, 2);
  border-left: 0.2rem solid rgb(53, 29, 2);
  border-right: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}
}

@media screen and (min-width: 767px){
.pouletsec{
  margin-inline: 33%;
  font-size: 170%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:  rgb(99, 50, 32);
  padding-inline: 8%;
  border-bottom: 0.2rem solid rgb(53, 29, 2);
  border-left: 0.2rem solid rgb(53, 29, 2);
  border-right: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}
}

.titrepolice{
  font-size: 200%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 767px){
.pouletsec{
  margin-inline: 20%;
  font-size: 130%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:  rgb(99, 50, 32);
  padding-inline: 8%;
  border-bottom: 0.2rem solid rgb(53, 29, 2);
  border-left: 0.2rem solid rgb(53, 29, 2);
  border-right: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}
}

@media screen and (max-width: 767px){
  .nbpoulets{
    margin-inline: 20%;
    font-size: 140%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:  rgb(99, 50, 32);
    padding-inline: 8%;
    border-top: 0.2rem solid rgb(53, 29, 2);
    border-left: 0.2rem solid rgb(53, 29, 2);
    border-right: 0.2rem solid rgb(53, 29, 2);
    color: rgb(209, 160, 95);
  }
  }

  @media screen and (max-width: 767px){
    .titre{
      margin-inline: 20%;
      font-size: 210%;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      background-color:   rgb(53, 29, 2);
      padding-inline: 15%;
      border: 0.2rem solid rgb(53, 29, 2);
      color: rgb(209, 160, 95); 
    }
    }
  
    @media screen and (max-width: 767px){
      .img{
        width: 18rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      }

#popup{
        margin:0;
        padding:0;
    
    }
    
    #popup-overlay{
        position:fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(0,0,0,0.7);
        z-index:98;
        display:none;
    }
    
    #popup-overlay.open{
      display:block !important; 
    }
    
      .popup-content{
        max-width:600px;
        padding:30px;
        width:100%;
        box-sizing:border-box;
        background-color: rgb(209, 160, 95);
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }
    
      .popup-close{
        position:absolute;
        top:0%;
        right:0;
        text-decoration: none;
        color: #FFF;
        background: #000;
        padding: 5px 10px;
        border-radius: 5px;
      }
    
      .bouton-popup{
        background-color: rgb(209, 160, 95);
        width: 25%;
        font-size: 1.5rem;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin-left: 37.7%;
        cursor: pointer;
        border-color: rgb(53, 29, 2);
      }
    
      .titpopup{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    
      .txtpopup{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
    
      .petit-titre{
        font-size: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }

