html{ 
  background-color: rgb(233, 230, 230);
}

table {
  display: flex;
  justify-content: center;
  margin: 0;
  border: 5px;
  border-collapse: collapse;
  color: rgb(209, 160, 95);
}

th, td{
  padding: 1rem;
  text-align: center;
  background-color: rgb(99, 50, 32);
  border: 0.2rem solid rgb(53, 29, 2);
  font-size: 1rem
  color: rgb(209, 160, 95);
}

.button{
  background-color: rgb(99, 50, 32);
  border-color: rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}

.button-police{
  background-color: rgb(99, 50, 32);
  border-color: rgb(53, 29, 2);
  font-size: 150%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(209, 160, 95);
}

.police{
  font-size: 150%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.img{
  width: 20%;
  margin-left: 32%;
}

.titre{
  margin-inline: 33%;
  font-size: 210%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:   rgb(53, 29, 2);
  padding-inline: 11%;
  border: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95); 
}

.nbpoulets{
  margin-inline: 33%;
  font-size: 170%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:  rgb(99, 50, 32);
  padding-inline: 11%;
  border-top: 0.2rem solid rgb(53, 29, 2);
  border-left: 0.2rem solid rgb(53, 29, 2);
  border-right: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}

.pouletsec{
  margin-inline: 33%;
  font-size: 170%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color:  rgb(99, 50, 32);
  padding-inline: 7%;
  border-bottom: 0.2rem solid rgb(53, 29, 2);
  border-left: 0.2rem solid rgb(53, 29, 2);
  border-right: 0.2rem solid rgb(53, 29, 2);
  color: rgb(209, 160, 95);
}

.titrepolice{
  font-size: 200%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

